lrf_CheckDocs1 RCDATA "res/lrf/CheckDocs1.lrf"

txt_UserAgreement RCDATA "res/txt/UserAgreement.txt"
txt_About RCDATA "res/txt/About.txt"

json_FMedFindAkz  RCDATA "res/json/FMedFindAkz.json"
json_FMedFindPdv  RCDATA "res/json/FMedFindPdv.json"
json_FMedFindZvit RCDATA "res/json/FMedFindZvit.json"

json_FWizard RCDATA "res/json/FWizard.json"
json_g00w10 RCDATA "res/json/g00w10.json"
json_g01w09 RCDATA "res/json/g01w09.json"
json_g01w10 RCDATA "res/json/g01w10.json"
json_g01w20 RCDATA "res/json/g01w20.json"
json_g01w30 RCDATA "res/json/g01w30.json"
json_g01w40 RCDATA "res/json/g01w40.json"
json_g01w50 RCDATA "res/json/g01w50.json"
json_g01w60 RCDATA "res/json/g01w60.json"

xml_1312603 RCDATA "res/xml/1312603.xml"
xml_1360102 RCDATA "res/xml/1360102.xml"
