lrf_CheckDocs1 RCDATA "res/lrf/CheckDocs1.lrf"

txt_UserAgreement RCDATA "res/txt/UserAgreement.txt"
txt_About RCDATA "res/txt/About.txt"

json_FMedFindAkz  RCDATA "res/json/FMedFindAkz.json"
json_FMedFindPdv  RCDATA "res/json/FMedFindPdv.json"
json_FMedFindZvit RCDATA "res/json/FMedFindZvit.json"

json_FWizardPdv00 RCDATA "res/json/FWizardPdv00.json"
json_FWizardPdv10 RCDATA "res/json/FWizardPdv10.json"
json_FWizardPdv20 RCDATA "res/json/FWizardPdv20.json"
json_FWizardPdv30 RCDATA "res/json/FWizardPdv30.json"
json_FWizardPdv40 RCDATA "res/json/FWizardPdv40.json"
json_FWizardPdv50 RCDATA "res/json/FWizardPdv50.json"

json_FWizardPdvs RCDATA "res/json/FWizardPdvs.json"

xml_1312603 RCDATA "res/xml/1312603.xml"
xml_1360102 RCDATA "res/xml/1360102.xml"
