lrf_CheckDocs1 RCDATA "res/lrf/CheckDocs1.lrf"

txt_UserAgreement RCDATA "res/txt/UserAgreement.txt"
txt_About RCDATA "res/txt/About.txt"

json_FMedFindAkz  RCDATA "res/json/FMedFindAkz.json"
json_FMedFindPdv  RCDATA "res/json/FMedFindPdv.json"
json_FMedFindZvit RCDATA "res/json/FMedFindZvit.json"

json_FWizardPdv0 RCDATA "res/json/FWizardPdv0.json"
json_FWizardPdv1 RCDATA "res/json/FWizardPdv1.json"
json_FWizardPdv2 RCDATA "res/json/FWizardPdv2.json"
json_FWizardPdv3 RCDATA "res/json/FWizardPdv3.json"
json_FWizardPdv4 RCDATA "res/json/FWizardPdv4.json"
json_FWizardPdv5 RCDATA "res/json/FWizardPdv5.json"

json_FWizardPdvs RCDATA "res/json/FWizardPdvs.json"

xml_J1312603 RCDATA "res/xml/J1312603.xml"
xml_J1360102 RCDATA "res/xml/J1360102.xml"
